


.messageContainer {
    display: flex;
    height: auto;
    width: 70%;
    min-width: 400px;
    border-radius: 5px;
    align-items: stretch;
    background-color: rgb(218, 218, 218);
    box-shadow: 0 3px 6px rgba(0, 0, 0, .26),
                0 3px 6px rgba(0, 0, 0, .23);
}

.isOwnMessageContainer {
    background-color: rgb(76, 211, 98);
}




/* * * * * MESSAGE DATA: sender, date, etc. * * * * */

.messageData {
    flex: 1;
    padding: 10px;
    font-size: .7em;
}

.sender {
    display: block;
    color: #222;
    font-weight: bold;
}

.isOwnSender {
    color: lightgray;
}

.timeSent {
    color: #555;
    font-style: italic;
}

.isOwnTimeSent {
    color: green;
}



/* * * * * MESSAGE CONTENT * * * * */

.messageContent {
    height: auto;
    flex: 9;
    background-color: white;
    padding: 10px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.isOwnMessageContent {
    background-color: #E3F2FD;
    color: lightseagreen;
}