<!-- 
  We need to show the multimedia element in 
  different ways according to its type.
-->

<!-- In case it is a video. -->
<div *ngIf="multimediaType === 'video'">
  <video width="480" height="360" controls>
    <source [src]="multimediaURL"/>
    Your browser does not support the video HTML tag.
  </video>
</div>

<!-- In case it is an audio. -->
<div *ngIf="multimediaType === 'audio'">
  <audio controls>
    <source [src]="multimediaURL"/>
    Your browser does not support the audio HTML tag.
  </audio>
</div>

<!-- In case it is a image. -->
<div *ngIf="multimediaType === 'image'">
    <img [src]="multimediaURL"/>
</div>

