    :host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.navWrapper {
    height: fit-content;
    color: #222;
}

.application {
    height: 100%;
    display: grid;
    grid-template-rows: max-content 0 auto;
}

/* we don't want the router-outlet to be rendered! */
router-outlet {
    height: 0;
}
