:host {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.navWrapper {
    height: fit-content;
    color: #222;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .37), 1px 2px 3px rgba(0, 0, 0, .54);
    z-index: 2; /* for it to be on top of some other elements */
}

.application {
    height: 100%;
    display: grid;
    grid-template-rows: max-content 0 auto;
}

/* we don't want the router-outlet to be rendered! */
router-outlet {
    height: 0;
}
