
.chatHeaderWrapper {
    height: 96px;
    color: #222;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .37), 1px 2px 3px rgba(0, 0, 0, .54);
    z-index: 2; /* for it to be on top of some other elements */
}

.chatRoom {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* we don't want the router-outlet to be rendered! */
router-outlet {
    height: 0;
}