
.profileIcon {
    height: 100%;
    display: grid;
    grid-template-columns: max-content max-content;
}

.textWrapper {
    margin: auto;
    vertical-align: middle;
}

.imgWrapper {
    margin: auto;
    padding: 20px;
    vertical-align: middle;
}

.imgWrapper img {
    width: 5em;
}
