
.profileIcon {
    display: grid;
    grid-template-columns: auto 64px;
}


.imgWrapper {
    display: inline-block;
    width: 64px;
    height: 64px;
    min-width: 64px;
    padding-left: 12px;
}

.imgWrapper img {
    width: 100%;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: rgb(90, 90, 90);
}



.textWrapper {
    display: grid;
    grid-template-rows: 50% 50%;
    grid-row-gap: 8px;
    width: 100%;
    align-self: center;
    align-content: right;
    text-align: right;
}

.username {
    color: var(--foreground-purple);
}


.logout {
    color: var(--foreground-dark-light);
    text-decoration: none;
    transition: ease-in 0.2s;
    margin-top: 8px;
    overflow: hidden;
}

.logout:hover {
    color: var(--foreground-purple-light);
    transition: ease-in 0.2s;
}