
.chatroom {
    display: grid;
    grid-template-rows: 80% 20%;
    height: 100%;
    overflow: hidden;
}

.chatHeaderWrapper {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: white;
    z-index: 1;
}

.feedWrapper {
    display: flex;
    flex-direction: column-reverse;
    overflow-y: scroll;
    padding: 20px 0px 0px 24px;
}

.chatFormWrapper {
    display: flex;
    height: 80px;
    background-color: rgba(0, 0, 0, 0);
    z-index: 3;
    padding: 8px;
}

