
.mainContent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: minmax(256px, 20%) auto;
    overflow: hidden;
}

.userListWrapper {
    display: flex;
    flex: 1;
    background-color: #2A2845;
    color: white;
    padding: 20px 0px 40px 30px;
    border-right: 1px solid #222;
    overflow-y: scroll;
}

.chatroomWrapper {
    background-color: white;
    background: linear-gradient(180deg,
    rgba(196, 228, 238, 0.5),
    rgba(0, 0, 0, .7)),
    url('src/assets/img/chat-bg-1.jpg') center center no-repeat;
}

app-chatroom {
    height: 100%;
}
