
.mainContent {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: min-content auto;
    overflow: hidden;
}

/*
.userListWrapper {
    display: flex;
    flex: 1;
    background-color: #2A2845;
    color: white;
    padding: 20px 0px 40px 30px;
    border-right: 1px solid #222;
    overflow-y: scroll;
}
*/
.chatroomWrapper {
    height: 100%;
    width: 100%;
    background-color:white;
    background: linear-gradient(
            180deg,
            rgba(196, 228, 238, 0.5),
            rgba(0, 0, 0, .7)
    ), url('src/assets/img/chat-bg-1.jpg') no-repeat center center;
}




/* The side navigation menu */
.userListWrapper {
    height: 100%; /* 100% Full-height */
    width: 0;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #2A2845; /* Black*/
    color: white;
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* To push the chat aside when opening the menu */
#main {
    transition: margin-left .5s;
    padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
