

/* * * * * 'SEND' BUTTON * * * * */

.chatButton {
    flex: 1;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 1em;
    background-color: #2A2845;    
    color: #fff;
    transition: 0.2s ease-out;
    min-width: 50px;
    text-align: center;
}
  
.chatButton:disabled {
    background-color: #F0EEEB;
    border-color: #F0EEEB;
}
  
  
.chatButton:hover {
    background-color: #444;
}



/* * * * * CHAT TEXT INPUT * * * * */

.inputWrapper {
    flex: 5;
    padding-left: 80px;
    padding-right: 16px;
    display: flex;
}

.chatInput { 
    flex: 1; 
    width: auto;
    border-radius: 8px;
    background-color: white;
    font-size: 1.3em;
    color: black;   
    background-color: white;
    transition: 0.1s ease-out; 
    padding-left: 16px;
    width: 100%; 
    box-sizing: border-box;
}

.chatInput:focus {
    background-color: rgb(238, 242, 247);
    color: #222;
    transition: 0.1s ease-in;
}
  